*{
  font-family: Arial, Verdana, sans-serif;
}

div.transbox {
  margin:  0 30% 0 0;
  padding-right: 20%;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.6;
  top: 70%;
  position: absolute;
}

div.transbox p {
  margin:10px;
  font-weight: bold;
  color: #ffffff;
}

#grad{
  height: 200px;
  background-image: linear-gradient(black, blue);
}
